:root {
    --main-color: rgb(116, 116, 180);
    --gradient: linear-gradient(maroon,orange)
}

header {
    justify-content: left;
    text-align: top;
    font-size: 2rem;
    font-family: "Brush Script MT", sans-serif;
    font-weight: lighter;
    padding-top: .2rem;
    padding-left: 1.5rem;
    margin-bottom: 0rem;
}

section {
    background-color: green;
    min-width: 100%;
}

.main-card {
    max-width: 100%;
    width: 55rem;
    justify-content: center;
    text-align: center;
    margin-top: -1.5rem;
}

.center {
    display: block;
    margin: auto;
    width: 50%;
    padding-bottom: 2.5rem;
}

img {
    max-width: 100%;
}

.cards {
    display: inline-flex;
    width: 26.83rem;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
   }

.box {
    background-color: green;
    border-color: black;
    border-style: solid;
    border-width: .08rem; 
    margin-left: 1rem;
}

h2,
h3 {
    font-size: 1.5rem;
    font-weight: lighter;
}

p {
    font-size: 1rem;
}

.aside {
    flex-direction: row;
    display: flex;
    position: fixed;
    left: 200rem;
    top: -41.3rem;
    width: 20rem;
    height: 4rem;
    border: .08rem solid black;
    justify-content: center;
    background-color: green;
    margin: auto;
}

@media screen and (max-width: 480px) {
    main {
      flex-direction: row;
    }}

@media screen and (max-width: 768px) {
    main {
      flex-direction: column;
    }}